/*-------------------------------------
 *	BUTTONS MASTER STYLES
 *-------------------------------------
 *
 *	Stylesheet dedicated to all button
 *	styles including colour and typography
 *
/-------------------------------------*/

/* Base Button */
.blk-base-btn {
  width: auto;
  padding: 10px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: .2px;
  transition: all .4s;
  position: relative;
  vertical-align: middle;
  appareance: none;
  border: 2px solid transparent;

  @media #{$portrait} {
    padding: 15px 20px;
  }

  @media #{$tablet-lnd-only} {
    padding: 10px 15px;
  }

  @media #{$phone-only} {
    padding: 8px 10px;
    letter-spacing: 1px;
  }
}

// Primary Button
.blk-primary-btn {
  background: $color-brand-primary;
  color: $bkg-dark-grey;
  font-size: 22px;
  border-radius: 2px;

  &:hover,
  &:focus,
  &:active {
    color: $color-brand-primary;
    background: transparent;
    border: 2px solid $color-brand-primary;
  }
}
