// Global Form Styles
form {
  width: 100%;
  position: relative;
}

/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/

$border-color-active: rgba(15, 22, 24, 1);
$border-color-passive: rgba(15, 22, 24, 0);
input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    border-radius: 0;
    font-family: $main-font;
    margin-top: 15px;
    background: transparent;
    outline: 0;
    border: 2px solid $color-brand-primary;
    border-radius: 10px;
    padding: 10px;
    color: $white;

    &::placeholder {
      color: $color-brand-bkg;
    }
  }
}

textarea,
select {
  width: 100%;
  font-family: $main-font;
  border-radius: 0;
  padding: 8px 0;
  margin-top: 15px;
  background: transparent;
  outline: 0;
  border: 2px solid $color-brand-primary;
  border-radius: 10px;
  padding: 10px;
  color: $white;

  &::placeholder {
    color: $color-brand-bkg;
  }
}

textarea {
  min-height: 120px;
  resize: vertical;
}

select:active,
select:focus {
  color: $color-brand-primary;
}


/* stylelint-enable */

/* Form Scaffolding */
