/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// App Structure
.blk-main-app {
  width: 100%;
  position: relative;
}

// Sidebar
.blk-events-sidebar {
  width: 100%;
  background: $bkg-dark-grey;
  position: relative;
  box-shadow: 0px 10px 30px inset rgba(0, 0, 0, .3);

  @media #{$landscape} {
    width: 30%;
    height: 100vh;
  }

  .blk-no-events {
    padding: 40px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  // Button Positioning
  .blk-base-btn {
    position: relative;
    right: -50%;
    transform: translateX(-50%);
  }
}

// Main Content
.blk-events-content {
  width: 100%;
  background: $bkg-medium-grey;

  @media #{$landscape} {
    width: 70%;
  }
}

// Panel Headers
.blk-panel-heading {
  width: 100%;
  padding: 20px;
  position: relative;
  // Truncate lines if needed:
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;

  // Pseudo Element for gradient underline
  &:after {
    @include pseudo(relative);
    bottom: 0;
    background: pink;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(226,124,19,1) 0%, rgba(226,124,19,0) 100%);
  }
}

.blk-panel {
  padding: 20px;
  border: 2px solid $color-brand-primary;
  border-radius: 10px;
}
