/*-------------------------------------
 *	SCAFFOLDING & LAYOUT UTILITIES
/-------------------------------------*/

// App Structure------------------------
.blk-main-app {
  width: 100%;
  position: relative;
}

// Sidebar -----------------------------
.blk-events-sidebar {
  width: 100%;
  background: $bkg-dark-grey;
  position: relative;
  box-shadow: 0px 10px 30px inset rgba(0, 0, 0, .3);

  @media #{$portrait} {
    display: flex;
    flex-wrap: wrap;
  }

  @media #{$landscape} {
    width: 30%;
    height: 100vh;
  }
  // When no events present...
  .blk-no-events {
    padding: 40px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
  }

  // Button Positioning
  .blk-base-btn {
    order: 1;
    width: 100%;
    border-radius: 0;
    padding: 25px 0;
    box-shadow: 0 10px 10px rgba(0,0,0,.5);

    @media #{$landscape} {
      position: absolute;
      order: 2;
      left: 0;
      bottom: 0;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 10px 10px rgba(0,0,0,0);
    }
  }

  // Add BKG to make it easier on the eyes..
  .blk-panel-heading {
    background: $bkg-dark-grey;
    position: relative;
    z-index: 10;
  }
}

// Main Content -----------------------------
.blk-events-content {
  position: relative;
  width: 100%;
  background: $bkg-medium-grey;

  @media #{$landscape} {
    width: 70%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

// Panel Headers -----------------------------
.blk-panel-heading {
  width: 100%;
  padding: 20px;
  position: relative;
  // Truncate lines if needed:
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;

  // Pseudo Element for gradient underline
  &:after {
    @include pseudo(relative);
    bottom: 0;
    background: pink;
    left: 0;
    right: 0;
    height: 2px;
    background: linear-gradient(90deg, rgba(226,124,19,1) 0%, rgba(226,124,19,0) 100%);
  }
}

// Panels with stroke -------------------------
.blk-panel {
  padding: 20px;
  border: 2px solid $color-brand-primary;
  border-radius: 10px;
}

// Scrollbar styling -------------------------
*::-webkit-scrollbar {
  width: 1.5vw;

  @media #{$landscape} {
    width: 1vw;
  }
}
// Background of Scrollbar
*::-webkit-scrollbar-track {
  background: lighten($color-brand-bkg, 10%);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
// Scroll Thumb ( Part that moves )
*::-webkit-scrollbar-thumb {
  background-color: lighten($color-brand-primary, 10%);
  outline: 4px solid darken($color-brand-bkg, 10%);
}
