/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Main */
body {
  font-family: $main-font;
  font-size: $base-font-size;
  color: $color-brand-primary;
  background: $bkg-dark-grey;
  line-height: 1.1;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  font-weight: 700;
  color: inherit;
  margin-bottom: 25px;
}

// Responsive Font Size Maps
$p-font-sizes: (
  null  : $base-font-size,
  $landscape : ($base-font-size * 1.15),
);

$h1-font-sizes: (
  null  : ($base-font-size * 3.2),
  $landscape: ($base-font-size * 5)
);

$h2-font-sizes: (
  null  : ($base-font-size * 2.5),
  $landscape: ($base-font-size * 4.4)
);

$h3-font-sizes: (
  null  : ($base-font-size * 2.2),
  $landscape: ($base-font-size * 3.75)
);

$h4-font-sizes: (
  null  : ($base-font-size * 1.875),
  $landscape: ($base-font-size * 3.12)
);

$h5-font-sizes: (
  null  : ($base-font-size * 1.25),
  $landscape: ($base-font-size * 2.5)
);

$h6-font-sizes: (
  null  : ($base-font-size * 1.375),
  $landscape: ($base-font-size * 1.875)
);

// Links
$link-font-sizes: (
  null  : $base-font-size,
  $landscape: ($base-font-size * 1.56)
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 1.8;
  font-weight: 400;
  @include font-size($p-font-sizes);
}

h1,
.h1 {
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

.mdev-main-nav-links {
  @include font-size($link-font-sizes);
}

/* Link Reset / Base Inherit */
a {
  font-family: $main-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

.mdev-hero-text {
  @include font-size($h1-font-sizes);
  line-height: 120%;
  color: $color-brand-primary;
  font-weight: 700;
}

// Alertify Overrides -----------------------
.alertify-notifier {
  color: $black;

  .ajs-message {
    border-radius: $standard-radius;
    box-shadow: 5px 5px 10px rgba(0,0,0,.4);
    font-weight: 700;
  }
}

.alertify .ajs-dialog {
  padding: 40px;
}

.alertify .ajs-body .ajs-content {
  width: 100%;
  padding: 20px 0;
}
