/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Main colors
$color-brand-primary: #e27c13;
$color-brand-accent: #c4ee1e;
$color-brand-delete: #e23013;
$color-brand-submit: #50e213;
$bkg-dark-grey: #191919;
$bkg-medium-grey: lighten($bkg-dark-grey, 15%);
$bkg-light-grey: lighten($bkg-medium-grey, 30%);
$color-brand-bkg: lighten($bkg-dark-grey, 10%);
$black: #000;
$white: #fff;

// Main Font
$main-font: 'Roboto', 'Helvetica', sans-serif;
$heading-weight: 700;
$subheading-weight: 500;
$body-weight: 300;
$base-font-size: 16px;

// Sizing Variables
@function calc-percent($target, $container) {
  @return ($target - $container);
}
// Buttons
$standard-button-padding: 15px 20px;
// Set size of sidebar here
$sidebar-width: 25%;
$main-width: calc-percent(100%, $sidebar-width);
// Radius Variables
$standard-radius: 10px;
