// Event Filters---------------
.blk-event-filter {
  width: 100%;
  position: relative;
  margin-bottom: 5px;
  padding: 10px 0;
  z-index: 3;

  // Select Button
  .blk-event-select {
    width: 20%;
    padding: 5px;
    border-right: 1px solid $color-brand-primary;
    text-align: center;
    transition: all .4s;
    cursor: pointer;

    &:hover {
      color: white;
    }
    // Remove border on the last one
    &:last-child {
      border-right: none;
    }
    // Set size of icons
    i {
      font-size: 25px;
    }
  }
}

// Simple container to keep scroll controlled
.blk-event-container {
  width: 100%;
}

// Events Lists ---------------
.blk-event-list {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  order: 2;
  z-index: 1;
  // Limit height on Tablet
  @media #{$tablet-prt-only} {
    max-height: 500px;
  }
  // Limit height on mobile
  @media #{$phone-only} {
    max-height: 400px;
  }
  // Limit height on Desktop
  @media #{$landscape} {
    position: absolute;
    top: 0;
    padding-top: 125px;
    padding-bottom: 100px;
    height: 100vh;
    order: 1;
  }
}

// Event on List ---------------
.blk-event {
  width: 100%;
  position: relative;
  padding: 20px;
  transition: all .4s;
  cursor: pointer;

  // Hovers...
  &:hover,
  &:focus,
  &:active {
    background: $bkg-medium-grey;
    color: $white;
  }
  // Title & Type container
  span {
    width: 100%;
    display: block;
  }
  // Icon
  i {
    font-size: 45px;
    margin-right: 15px;
    width: 15%;
  }
  // Event Type
  .blk-event-type {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  // Content- Needed to make the ellipsis work
  .blk-event-content {
    width: 85%;
  }
  // Event Title
  .blk-event-title {
    font-size: 25px;
    text-transform: capitalize;
    font-weight: 300;
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
